<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462416224688-9hh2g6otbqfeub3tbqavdbc57hbhn70r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462416224688-9hh2g6otbqfeub3tbqavdbc57hbhn70r</string>
	<key>API_KEY</key>
	<string>AIzaSyB9pBaf9zytYjtZykH9aM3bHD5uOmZHglM</string>
	<key>GCM_SENDER_ID</key>
	<string>462416224688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuzostudiosph.TodayI</string>
	<key>PROJECT_ID</key>
	<string>todayi-f2951</string>
	<key>STORAGE_BUCKET</key>
	<string>todayi-f2951.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462416224688:ios:a46ca551288696788b3675</string>
</dict>
</plist>